* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    font-size: 1em;
    color: #2B2D42;
}

body {
    max-width: 1024px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 20px 20px;
    background: no-repeat url(../res/logo.png);
    font-size: 0;
    width: 134px;
    height: 70px;
}

h2 {
    font-size: 1.2em;
}

span {
    font-weight: bold;
}

header {
    max-width: 1024px;
}

#only-pc {
    display: none;
}

/* ****************************************** GENERAL ****************************************** */

/* ****************************************** NAV ****************************************** */
#nav a {
    color: #2B2D42;
}

#open-close {
    position: absolute;
    top: 0;
    right: 0;
}

#open-close a{
    background: no-repeat url(../res/menu.png);
    background-size: cover;
    display: block;
    margin: calc(90px / 2 - 35px / 2);
    width: 50px;
    height: 35px;
    font-size: 0;
}

.close {
    display: none;
}

#body:target .close {
    display: block;
}

#body:target .open {
    display: none;
}

@media screen and (max-width: 889px) {
    #body:target #menu {
        position: absolute;
        top: 95px;
        display: block;
        padding: 1em;
        width: 100%;
        text-align: center;
        background-color: #FF5714;
        z-index: 100;
        transition: top 0.5s linear;
    }
    
    #menu {
        position: absolute;
        display: none;
    }
    
    #menu a{
        color: #F8F4F9;
        line-height: 4.5em;
    }
}


/* ****************************************** NAV ****************************************** */

/* ****************************************** GALLERY ****************************************** */

#gallery {
    max-width: 890px;
    margin: auto;
}

#gallery ul a {
    width: 17px;
    height: 17px;
    background-size: cover;
    font-size: 0;
    display: inline-block;
}

#next a {
    background: url(../res/blueCircleLight.png) no-repeat;
}

#previous a {
    background: url(../res/blueCircleDark.png) no-repeat;
}

#gallery img {
    max-width: 100%;
}

#banner-2 {
    display: none;
}

#gallery li {
    display: inline-block;
    margin: 0 5px;
}

#gallery ul {
    text-align: center;
}

#gallery:target #banner-1{
    display: none;
}

#gallery:target #banner-2{
    display: block;
}

#gallery:target #next a{
    font-size: 0;
    background: url(../res/blueCircleDark.png) no-repeat;
}

#gallery:target #previous a{
    font-size: 0;
    background: url(../res/blueCircleLight.png) no-repeat;
}

#gallery figcaption {
    display: none;
}

#gallery div {
    margin-left: 20px;
    width: 250px;
    position: absolute;
    top: 6em;
}

#gallery h2 {
    font-family: 'Krona One', sans-serif;
    line-height: 1.7em;
}

#see-more {
    border: none;
    text-align: center;
    background-color: #FDCA40;
    border-radius: 1em;
    padding: 0 1em;
}

#gallery:first-child {
    position: absolute;
}

/* ****************************************** GALLERY ****************************************** */

/* ****************************************** ABOUT ****************************************** */
#about {
    text-align: center;
    padding: 1em;
    display: inline-block;
}

#about h3 {
    font-size: 1.1em;
}

#about picture {
    width: 33%;
}

#about ul {
    width: 100%;
    max-height: 500px;
}

#about li {
    margin: 1em;
    padding: 2em;
    background-color: #FDCA40;
    border-radius: 2em;
    font-weight: 300;
}

#about ul li p {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#about ul:first-of-type li:first-child h3 {
    background: no-repeat url(../res/corazon.png);
    background-position: 50% 135%;
    border-top: 9em solid transparent;
}

#sueno h3 {
    background: no-repeat url(../res/suenos.png);
    background-position: 50% 125%;
    border-top: 9em solid transparent;
}

#sueno {
    background-color: #FF5714 !important;
}

#about ul:first-of-type li:last-child h3 {
    background: no-repeat url(../res/meditar.png);
    background-position: 50% 135%;
    border-top: 9em solid transparent;
}

/* ****************************************** ABOUT ****************************************** */

/* ****************************************** CLASS ****************************************** */

#main {
    display: block;
}

#main {
    position: relative;
    top: 50px;
    width: 90%;
    margin: auto;
    background-color: #2B2D42;
    border-radius: 1em;
}

#main h2, main h3 {
    color: #FDCA40;
    text-align: center;
    padding: 10px 0;
}

#main figcaption h4{
    position: relative;
    margin: auto;
    color: #FDCA40;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    border-top: solid 2px #FDCA40;
    border-bottom: solid 2px #FDCA40;
    padding: 5px;
    bottom: 180px;
}

#main figure p {
    position: relative;
    bottom: 180px;
    color: #FDCA40;
    width: 75%;
    margin: auto;
}

#main span {
    color: #FDCA40;
}

@media screen and (max-width: 380px){
    #main figure p {
        width: 100%;
    }
}


#crossfit-content:target .modal, 
#functional-content:target .modal, 
#cardio-content:target .modal{
    display: inline-block;
}

@media screen and (max-width: 889px) {
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
      }
      
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 1em;
        padding-bottom: 3em;
        border: 1px solid #888;
        width: 90%; 
    }

    .modal-content span {
        color: #2B2D42 !important;
    }

    .modal-content p {
        color: #2B2D42;
    }
}

.modal p {
    color: #2B2D42 !important;
}

img {
    max-width: 100%;
}

#main p {
    padding: 1em;
    text-align: center;
    color: #FDCA40;
}

#main article a {
    color: #FF5714;
    float: right;
    padding-right: 2em;
}

#cardio, #functional {
    display: none;
    position: relative;
    top: 0;
}

#crossfit {
    display: inline-block; 
}

#main figure {
    text-align: center;
}

.class-gallery a {
    width: 17px;
    height: 17px;
    background-size: cover;
    font-size: 0;
    display: inline-block;
    background: url(../res/yellowCircleDark.png) no-repeat;
}

.class-gallery a:hover {
    background: url(../res/yellowCircleLight.png) no-repeat;
}

#main ul {
    text-align: center;
    padding-bottom: 2em;
}

#main ul li {
    display: inline-block;
    margin: 0 5px;
}

#main figcaption {
    position: absolute;
}

/* ****************************************** CLASS ****************************************** */

/* ****************************************** VIDEO ****************************************** */

#video {
    position: relative;
    padding-bottom: 70%;
    top: 5em;
}
    
#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ****************************************** VIDEO ****************************************** */

/* ****************************************** NUTRICION ****************************************** */
#nutrition {
    background-color: #F8F4F9;
    padding: 2em;
    width: 100%;
    text-align: center;
    position: relative;
    top: 1em;
}

#nutrition h2 {
    padding-bottom: 1em;
}

.blue {
    background-color: #2B2D42;
    border: solid 1px #2B2D42;
}

.white {
    background-color: #F8F4F9;
    border: solid 1px #2B2D42;
}

.blue h3, .blue p {
    color: #F8F4F9;
}

.card {
    border-radius: 2em;
    position: absolute;
    top: 0;
    padding: 2em;
    opacity: 0;
}

#hierro {
    opacity: 1;
}

.card:target {
    opacity: 1;
    width: 100%;
    height: 100%;
}

#nutrition h3 {
    margin: auto;
    padding-top: 100px;
    height: 130px;
}

#hierro h3 {
    width: 90px;
    background: url(../res/rabanito.png) no-repeat top;
}

#calcio h3 {
    width: 78px;
    background: url(../res/calcio.png) no-repeat top;
}

#potasio h3 {
    width: 95px;
    background: url(../res/potasio.png) no-repeat top;
}

#sodio h3 {
    width: 91px;
    background: url(../res/sodio.png) no-repeat top;
}

#magnesio h3 {
    width: 81px;
    background: url(../res/magnesio.png) no-repeat top;
}

#proteina h3 {
    width: 91px;
    background: url(../res/carne.png) no-repeat top;
}

.nutrition-gallery a {
    width: 17px;
    height: 17px;
    background-size: cover;
    font-size: 0;
    display: inline-block;
    background: url(../res/blueCircleDark.png) no-repeat;
}

.nutrition-gallery a:hover {
    background: url(../res/blueCircleLight.png) no-repeat;
}

.nutrition-gallery li {
    display: inline-block;
    margin: 0 5px;
}

#nutrition div:first-of-type {
    position: relative;
    top: 0;
}



/******************************* VENUES *******************************/

#venues {
    position: relative;
    display: block;
    top: 2em;
    text-align: center;
    color: #FF5714;
}

#venues h2, #venues p, #venues h3 {
    color: #FF5714;
}

#venues h2 {
    padding: 1em;
}

#venues p {
    font-size: .9em;
}

#venues iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

/******************************* VENUES *******************************/

/******************************* FORM *******************************/

#contact {
    background-color: #FDCA40;
    position: relative;
    display: block;
    top: 5em;
    width: 100%;
}

form {
    padding: 2em;
    padding-top: 1em;
}

#contact h2 {
    padding: 1em 0 0 1em;
}

.form-item label {
    display: inline-block;
    color: #2B2D42;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

#contact div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    height: 2.5em;
    border-radius: 1em;
    padding-left: 1em;
}

#msg {
    width: 100%;
    height: 10em;
    border-radius: 1em;
    padding: 1em;
}

input[type="submit"] {
    background-color: #2B2D42;
    color: #FDCA40;
    border-radius: 1em;
    width: 33%;
    text-align: center;
    padding-left: 0;
    position: relative;
    left: 33%;
    margin-top: 1em;
}

/******************************* FOOTER *******************************/

 footer {
    background-color: #F8F4F9;
    color: #2B2D42;
    position: relative;
    top: 5em;
    text-align: center;
}

footer p {
    padding: .5em;
    font-size: 0.7em;
    background-color: #2B2D42;
    color: #F8F4F9;
}

#mapa li:first-child a {
    background: url(../res/logo.png) no-repeat;
    display: inline-block;
    font-size: 0;
    width: 134px;
    height: 70px;
    margin-top: 1em;
}

#mapa li {
    padding-top: 2em;
    line-height: 2em;
    
}

.redes {
    display: inline-flex;
}

.redes li {
    margin: 0 10px;
    margin-bottom: 10px;
}

.redes a {
    display: inline-block;
    font-size: 0;
    width: 40px;
    height: 40px;
}

#ig {
    background-image: url(../res/instagram-icon.png);
}

#tw {
    background-image: url(../res/twitter-icon.png);
}

#fb {
    background-image: url(../res/facebook-icon.png);
}

.data {
    display: inline-flex;
}

#thk {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}

textarea {
    resize: none;
}